.title{

  padding-left: 15px;
}
.timer{
 
  display: flex;
}
.field{
  padding: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.value{
  
  font-size: 40px;
}
.label{
  color: rgb(48, 47, 47);
  font-size: 25px;
}