<form>
  <p>Выберите дату: 
  <input id='calendar' type="date" name="calendar" value="2021-09-13">
 </form>
<button id='stop-button'>Stop</button>
<H2 class='title'>К выбраной даты осталось:</H2>
<div class="timer" id="timer-1">
  <div class="field">
    <span class="value" data-value="days"></span>
    <span class="label">Days</span>
  </div>

  <div class="field">
    <span class="value" data-value="hours"></span>
    <span class="label">Hours</span>
  </div>

  <div class="field">
    <span class="value" data-value="mins"></span>
    <span class="label">Minutes</span>
  </div>

  <div class="field">
    <span class="value" data-value="secs"></span>
    <span class="label">Seconds</span>
  </div>
</div>